@model PlantillaTrama

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlantillaTrama</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuntosDePresionPorTiemppo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuntosDePresionPorTiemppo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuntosNecesarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuntosNecesarios)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        @for (int i = 0; i < Model.Atributos.Count(); i++)
        {
            <dt>
                @Model.Atributos[i].Atributo.Nombre
            </dt>
            <dd>
                @Model.Atributos[i].Multiplicador
            </dd>
        }
    </dl>  
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.PlantillaTramaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
