@model IEnumerable<PlantillaTrama>

@{
    ViewData["Title"] = "Plantillas para Tramas";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTrama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntosDePresionPorTiemppo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntosNecesarios)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlantillaTramaId">Edit</a> |                    
                    <a asp-action="Delete" asp-route-id="@item.PlantillaTramaId">Delete</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoTrama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuntosDePresionPorTiemppo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuntosNecesarios)
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-default btn-info" asp-action="Create">Nueva Plantilla</a> 