@model IEnumerable<PlantillaTrama>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntosDePresionPorTiemppo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntosNecesarios)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlantillaTramaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PlantillaTramaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PlantillaTramaId">Delete</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuntosDePresionPorTiemppo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuntosNecesarios)
                </td>
            </tr>
        }
    </tbody>
</table>
