@model IEnumerable<PostPartida>

@{
    ViewData["Title"] = "Index";
}

<h2>Entre Partidas</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Activa)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Cerrada)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>            
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostPartidaId">Editar</a> 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activa)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Cerrada)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>                
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-default btn-info" asp-route="CrearEntrePartida">Nuevo Entre Partida</a> 