@model Trama

@{
    ViewData["Title"] = "Borrar Trama";
}

<h2>@ViewData["Title"]: <b>@Model.Nombre</b></h2>

<alert header="Estas seguro de que quieres borrar esto?" message="Si no lo estas y le das a borrar, ten por seguro que como minimo te cae un capon." icon="danger" dismissible="true"></alert>
<div>
    <h4>Trama</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cerrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cerrada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoTrama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoTrama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuntosActuales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuntosActuales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuntosDePresionPorTiemppo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuntosDePresionPorTiemppo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuntosNecesarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuntosNecesarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TextoResolucion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TextoResolucion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <a class="btn btn-warning" asp-action="Index"> Volver a Tramas</a>
            <input type="submit" value="Borrar" class="btn btn-default" />         
        </div>
    </form>
</div>
