@model IEnumerable<Trama>

@{
    ViewData["Title"] = "Tramas";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
    <tr>
    <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Cerrada)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTrama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participantes)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntosActuales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntosDePresionPorTiemppo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntosNecesarios)
        </th>
    </tr>
    </thead>
    
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            <a asp-action="Edit" asp-route-id="@item.TramaId">Editar</a> |
            <a asp-action="Delete" asp-route-id="@item.TramaId">Borrar</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cerrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTrama)
        </td>
        <td>
            @*@{ 
                if (item.Participantes.Count() == 1)
                {
                    @Html.DisplayFor(modelItem => item.Participantes.FirstOrDefault().Personaje.Nombre)
                }
                else {
                    @item.Participantes.Count().ToString() @: participantes
                }
            }*@
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntosActuales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntosDePresionPorTiemppo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntosNecesarios)
        </td>
    </tr>
}
</tbody>
</table>
<a class="btn btn-default btn-info" asp-action="Create">Nueva Trama</a> 