@model IEnumerable<Trama>

@{
    ViewData["Title"] = "Tramas";
}

<table class="table">
    <thead>
    <tr>
    <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Cerrada)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTrama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participantes)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntosActuales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntosDePresionPorTiemppo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntosNecesarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextoResolucion)
        </th>
    </tr>
    </thead>
    
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            <a asp-action="Edit" asp-route-id="@item.TramaId">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.TramaId">Delete</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cerrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTrama)
        </td>
        <td>
            @if (item.Participantes.Count() == 1){
                @Html.DisplayFor(modelItem => item.Participantes.FirstOrDefault().Personaje.Nombre)
            }
            else {
                @Html.DisplayFor(modelItem => item.Participantes.Count().ToString()) @:" participantes";
            }
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntosActuales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntosDePresionPorTiemppo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntosNecesarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextoResolucion)
        </td>
    </tr>
}
</tbody>
</table>

