@model IEnumerable<Atributo>

@{
    ViewData["Title"] = "Atributos";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AtributoId">Edit</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orden)
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-default btn-info" asp-action="Create">Nuevo Atributo</a> 
