@model IEnumerable<FormularioPostPartida>

@{
    ViewData["Title"] = "Interludios";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Enviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostPartidaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NarradorEncargado)
            </th>
            <th>
                Email Jugador
            </th>
            <th>
                Nombre Personaje
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Personaje.Clan)
            </th>            
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FormularioPostPartidaId">Detalles</a> 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enviado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEnvio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostPartidaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NarradorEncargado.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jugador.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Personaje.Nombre)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Personaje.Clan)
                </td>                
                <td>
                    <a asp-controller="Personajes" asp-action="Edit" asp-route-id="@item.PersonajeId">Ver Personaje</a>
                </td>
            </tr>
        }
    </tbody>
</table>
