@model Cronica.Modelos.ViewModels.PostPartidas.PasaTrama

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<alert header="Estas seguro de que quieres borrar esto?" message="Si no lo estas y le das a grabar, ten por seguro que como minimo te cae un capon." icon="danger" dismissible="true"></alert>
<div>
    <h4>Interludio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaPrevista)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaPrevista)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaResolucion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaResolucion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resuelto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resuelto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
