@model Asignacion

@{
    ViewData["Title"] = "Mis Tramas";
}

<h2>Tramas Activas</h2>


<table class="table">
    <thead>
        <tr>
            <th>Trama</th>
            <th>Jugador</th>
            @{
                foreach (var seguidor in Model.Personaje.Seguidores)
                {
                    <th>@seguidor.TrasfondoRelacionado.Nombre<br />(@seguidor.TipoRelacion)</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var tramaParticipada in Model.Personaje.TramasParticipadas)
            {
                <tr>
                    <td>@tramaParticipada.Trama.Nombre</td>
                    <td>
                        <input data-provide="slider" type="text" data-slider-max="100" data-slider-handle="custom"
                               data-slider-value="@Model.Asignaciones.Where(a=> a.PersonajeId == Model.PersonajeId && a.TramaId == tramaParticipada.TramaId).FirstOrDefault().PuntosParticipacion" />
                    </td>
                    @foreach (var seguidor in Model.Personaje.Seguidores)
                    {
                        <td>
                            <input data-provide="slider" type="range" data-slider-max="100" data-slider-handle="custom"
                                   data-slider-value="@Model.Asignaciones.Where(a=> a.PersonajeId == seguidor.TrasfondoRelacionadoId && a.TramaId == tramaParticipada.TramaId).FirstOrDefault().PuntosParticipacion" />
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
