@model IEnumerable<MensajeBandejaSalida>

@{
    ViewData["Title"] = "Lista de Mensajes Enviados";
}

<h2>@ViewData["Title"]</h2>
<p style="float:right">
    <a class="btn-link" asp-controller="Home" asp-action="NotaMensajeria">NOTA IMPORTANTE SOBRE LA MENSAJERIA</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.EsAnonimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnviadoA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnviadoComo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnvio)
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="VerMensaje" asp-route-id="@item.MensajeId">Abrir</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EsAnonimo)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.EnviadoA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnviadoComo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asunto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEnvio)
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-default btn-info" asp-action="NuevoMensaje">Nuevo Mensaje</a>
