@model IEnumerable<MensajeBandejaEntrada>
@{
    ViewData["Title"] = "Lista de Mensajes Recibidos";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>            
            <th>
                @Html.DisplayNameFor(model => model.Remitente)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnvio)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr class="@(item.Estado == EstadoMensaje.SinLeer ? "mensajeSinLeer" : "mensajeLeido" ) ">
                    <td>
                        <a asp-action="VerMensaje" asp-route-id="@item.MensajeId">Abrir</a>
                    </td>
                    <td>
                        @{ 
                            if (item.EnviadoComo != null && item.EnviadoComo != string.Empty)
                            {
                                @Html.DisplayFor(modelItem => item.EnviadoComo)
                            }
                            else if (!item.EsAnonimo)
                            {
                                @Html.DisplayFor(modelItem => item.Remitente)
                            }
                        }                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Asunto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaEnvio)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a class="btn btn-default btn-info" asp-action="NuevoMensaje">Nuevo Mensaje</a>
