@model VistaTramas

@{
    ViewData["Title"] = "Tramas Cerradas";
}


<cache expires-sliding="@TimeSpan.FromMinutes(15)" vary-by-user="true">
    <h2>@Model.NombrePersonaje : @ViewData["Title"]</h2>

    <div id="Tramas" class="tab-pane">
        <table class="table">
            <thead>
                <tr>
                    <th></th>                    
                    <th>
                        @Html.DisplayNameFor(model => model.Tramas.FirstOrDefault().Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tramas.FirstOrDefault().Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tramas.FirstOrDefault().TextoResolucion)
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Tramas)
                {
                    <tr>
                        <td>
                            <a class="btn btn-info" asp-route="DetalleTrama" asp-route-personajeId="@Model.PersonajeId" asp-route-tramaId="@item.TramaId">Detalles</a>
                        </td>                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TextoResolucion)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</cache>

    @section Scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
