@model VistaMensaje
@{
    ViewData["Title"] = "Ver Mensaje";
}

<h2>@ViewData["Title"]</h2>


<div class="form-horizontal">
    <hr />
    <input type="hidden" asp-for="MensajeId" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaEnvio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaEnvio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remitente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remitente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destinatarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destinatarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asunto)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Cuerpo)
        </dt>  
        <dd>
            <textarea readonly asp-for="Cuerpo" class="form-control"></textarea>
        </dd>                     
    </dl>
</div>
@section Scripts {
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init(
            {
                selector: 'textarea',
                readonly: 1
            });
    </script>
}

