@model Personaje

@{
    ViewData["Title"] = "Editar Personaje";
}

<h2>@ViewData["Title"]: <b>@Model.Nombre</b></h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PersonajeId" />
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#Personaje">Personaje</a></li>
            <li><a data-toggle="tab" href="#Atributos">Atributos</a></li>
            <li><a data-toggle="tab" href="#Seguidores">Seguidores</a></li>
            <li><a data-toggle="tab" href="#Tramas">Tramas</a></li>
        </ul>
        <hr />
        <div class="tab-content clearfix">
            <div id="Personaje" class="tab-pane active">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="Activo" />
                            <label asp-for="Activo"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JugadorId" class="control-label col-md-2">JugadorId</label>
                    <div class="col-md-10">
                        <select asp-for="JugadorId" asp-items="ViewBag.Jugadores" class="form-control"></select>
                        <span asp-validation-for="JugadorId" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Experiencia" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Experiencia" class="form-control" />
                        <span asp-validation-for="Experiencia" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Concepto" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Concepto" class="form-control" />
                        <span asp-validation-for="Concepto" class="text-danger" />
                    </div>
                </div>                
                <div class="form-group">
                    <label asp-for="Naturaleza" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Naturaleza" class="form-control" />
                        <span asp-validation-for="Naturaleza" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Conducta" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Conducta" class="form-control" />
                        <span asp-validation-for="Conducta" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Clan" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Clan" asp-items="Html.GetEnumSelectList<TipoClan>()" class="form-control"></select>
                        <span asp-validation-for="Clan" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Generacion" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Generacion" class="form-control" />
                        <span asp-validation-for="Generacion" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PotenciaSangre" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PotenciaSangre" class="form-control" />
                        <span asp-validation-for="PotenciaSangre" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PuntosDeSangre" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PuntosDeSangre" class="form-control" />
                        <span asp-validation-for="PuntosDeSangre" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Senda" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Senda" asp-items="Html.GetEnumSelectList<TipoSenda>()" class="form-control"></select>
                        <span asp-validation-for="Senda" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ValorSenda" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ValorSenda" class="form-control" />
                        <span asp-validation-for="ValorSenda" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Virtud" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Virtud" class="form-control" />
                        <span asp-validation-for="Virtud" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Voluntad" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Voluntad" class="form-control" />
                        <span asp-validation-for="Voluntad" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Meritos" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea  asp-for="Meritos" class="form-control"></textarea>
                        <span asp-validation-for="Meritos" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Defectos" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="Defectos" class="form-control"></textarea>
                        <span asp-validation-for="Defectos" class="text-danger" />
                    </div>
                </div>                
                <div class="form-group">
                    <label asp-for="Historia" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="Historia" class="form-control"></textarea>
                        <span asp-validation-for="Historia" class="text-danger" />
                    </div>
                </div>                
            </div>

            <div id="Atributos" class="tab-pane">
                <h3 class="alineadoCentro">Atributos</h3>
                <div class="capaTresColumnas">
                    <h4>Fisicos</h4>
                    @foreach (AtributoPersonaje atributo in Model.Atributos.Where(a => a.Atributo.Tipo == TipoAtributo.Caracteristica && a.Atributo.SubTipo == SubTipoAtributo.Fisico))
                    {
                        @await Component.InvokeAsync(nameof(EditarAtributoPersonaje), new { atributo = atributo })
                    }
                </div>
                <div class="capaTresColumnas">
                    <h4>Sociales</h4>
                    @foreach (AtributoPersonaje atributo in Model.Atributos.Where(a => a.Atributo.Tipo == TipoAtributo.Caracteristica && a.Atributo.SubTipo == SubTipoAtributo.Social))
                    {
                        @await Component.InvokeAsync(nameof(EditarAtributoPersonaje), new { atributo = atributo })
                    }
                </div>
                <div class="capaTresColumnas">
                    <h4>Mentales</h4>
                    @foreach (AtributoPersonaje atributo in Model.Atributos.Where(a => a.Atributo.Tipo == TipoAtributo.Caracteristica && a.Atributo.SubTipo == SubTipoAtributo.Mental))
                    {
                        @await Component.InvokeAsync(nameof(EditarAtributoPersonaje), new { atributo = atributo })
                    }
                </div>
                <h3 class="alineadoCentro">Habilidades</h3>
                <div class="capaTresColumnas">
                    <h4>Talentos</h4>
                    @foreach (AtributoPersonaje atributo in Model.Atributos.Where(a => a.Atributo.Tipo == TipoAtributo.Habilidad && a.Atributo.SubTipo == SubTipoAtributo.Talento))
                    {
                        @await Component.InvokeAsync(nameof(EditarAtributoPersonaje), new { atributo = atributo })
                    }
                </div>
                <div class="capaTresColumnas">
                    <h4>Tecnicas</h4>
                    @foreach (AtributoPersonaje atributo in Model.Atributos.Where(a => a.Atributo.Tipo == TipoAtributo.Habilidad && a.Atributo.SubTipo == SubTipoAtributo.Tecnica))
                    {
                        @await Component.InvokeAsync(nameof(EditarAtributoPersonaje), new { atributo = atributo })
                    }
                </div>
                <div class="capaTresColumnas">
                    <h4>Conocimientos</h4>
                    @foreach (AtributoPersonaje atributo in Model.Atributos.Where(a => a.Atributo.Tipo == TipoAtributo.Habilidad && a.Atributo.SubTipo == SubTipoAtributo.Conocimiento))
                    {
                        @await Component.InvokeAsync(nameof(EditarAtributoPersonaje), new { atributo = atributo })
                    }
                </div>
                <h3 class="alineadoCentro">Ventajas</h3>
                <div class="capaTresColumnas">
                    <h4>Trasfondos</h4>
                    @foreach (AtributoPersonaje atributo in Model.Atributos.Where(a => a.Atributo.Tipo == TipoAtributo.Trasfondo))
                    {
                        @await Component.InvokeAsync(nameof(EditarAtributoPersonaje), new { atributo = atributo })
                    }
                </div>
                <div class="capaTresColumnas">
                    <h4>Disciplinas</h4>
                    @foreach (AtributoPersonaje atributo in Model.Atributos.Where(a => a.Atributo.Tipo == TipoAtributo.Disciplina))
                    {
                        @await Component.InvokeAsync(nameof(EditarAtributoPersonaje), new { atributo = atributo })
                    }
                </div>
                <div class="capaTresColumnas">
                    <h4>Virtudes</h4>
                    @foreach (AtributoPersonaje atributo in Model.Atributos.Where(a => a.Atributo.Tipo == TipoAtributo.Virtud))
                    {
                        @await Component.InvokeAsync(nameof(EditarAtributoPersonaje), new { atributo = atributo })
                    }
                </div>
                <h3 class="alineadoCentro">Otros Rasgos</h3>
            </div>

            <div id="Seguidores" class="tab-pane">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Concepto)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Seguidores)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.TrasfondoRelacionadoId">Edit</a> |
                                    <a asp-route="Desligar" asp-route-personajeId="@item.PersonajeJugadorId" asp-route-seguidorId="@item.TrasfondoRelacionadoId">Desligar</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoRelacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TrasfondoRelacionado.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TrasfondoRelacionado.Concepto)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn btn-default btn-info" asp-route="Ligar" asp-route-personajeId="@Model.PersonajeId">Nuevo Seguidor</a>
            </div>

            <div id="Tramas" class="tab-pane">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.TramasParticipadas.FirstOrDefault().Trama.Cerrada)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TramasParticipadas.FirstOrDefault().Trama.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TramasParticipadas.FirstOrDefault().Trama.TipoTrama)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TramasParticipadas.FirstOrDefault().Trama.Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TramasParticipadas.FirstOrDefault().Equipo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TramasParticipadas.FirstOrDefault().Trama.PuntosActuales)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TramasParticipadas.FirstOrDefault().Trama.PuntosDePresionPorTiemppo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TramasParticipadas.FirstOrDefault().Trama.PuntosNecesarios)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TramasParticipadas.FirstOrDefault().Trama.TextoResolucion)
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.TramasParticipadas)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Tramas" asp-action="Edit" asp-route-id="@item.TramaId">Edit</a> |
                                    <a asp-controller="Tramas" asp-action="Delete" asp-route-id="@item.TramaId">Delete</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trama.Cerrada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trama.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trama.TipoTrama)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trama.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Equipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trama.PuntosActuales)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trama.PuntosDePresionPorTiemppo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trama.PuntosNecesarios)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trama.TextoResolucion)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn btn-default btn-info" asp-controller="Tramas" asp-action="Create" asp-route-personajeId="@Model.PersonajeId" asp-route-plantillaTramaId="">Nueva Trama</a>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-warning" asp-action="Index">Volver</a>
                <input type="submit" value="Guardar" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        @for (int i = 0; i < Model.Atributos.Count(); i++)
            {
                @:CompararValores(@i);
                    }
    });
</script>
}
