@model IEnumerable<Personaje>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jugador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conducta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experiencia)                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Generacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naturaleza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PotenciaSangre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senda)                
            </th>        
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PersonajeId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.PersonajeId">Delete</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jugador.UserName)
                </td>
                <td>
                    @item.Clan.DisplayName()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concepto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conducta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experiencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Generacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naturaleza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PotenciaSangre)
                </td>
                <td>
                    @item.Senda.DisplayName()
                </td>
            </tr>
        }
    </tbody>
</table>
