@model VistaMensaje

<h2>@ViewBag.Titulo</h2>

@{
    ApplicationUser usuario = ViewBag.Usuario;

    <div class="form-horizontal">
        <hr />
        <input type="hidden" asp-for="MensajeId" />
        <dl class="dl-horizontal">
            
            @if (usuario.Cuenta == TipoCuenta.Administrador || usuario.Cuenta == TipoCuenta.Narrador)
            {
                <dt>
                    Anónimo
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EsAnonimo)
                </dd>
                <dt>
                    Enviado como...
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RemitenteReal)
                </dd>                
            }
            <dt>
                @Html.DisplayNameFor(model => model.FechaEnvio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaEnvio)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Remitente)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Remitente)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Destinatarios)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Destinatarios)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Asunto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Asunto)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cuerpo)
            </dt>
            <dd>
                <textarea readonly asp-for="Cuerpo" class="form-control"></textarea>
            </dd>
        </dl>
    </div>
}
<a class="btn btn-default btn-info" asp-action="ResponderMensaje" asp-route-id="@Model.MensajeId">Responder</a> 


@section Scripts {
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init(
            {
                selector: 'textarea',
                readonly: 1
            });
    </script>
}

