@model IEnumerable<Cronica.Modelos.ViewModels.PostPartida.PostPartida>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Cerrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostPartidaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PostPartidaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostPartidaId">Delete</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cerrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
            </tr>
        }
    </tbody>
</table>
